{% extends "base.html" %}

{% block content %}
    <head>
        <h2></h2>
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="alert alert-info">
                <h1>Добро пожаловать!</h1>
                <p>На портале вы можете просмотреть последние новости, расписание занятий и списки групп.</p>
                <p><a class="btn btn-primary btn-lg circle-button" role="button" href="posts/">Последние новости</a></p>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                <h3>Для того, чтобы продолжить пользоваться порталом, пожалуйста, авторизуйтесь!</h3>
            </div>
        {% endif %}
    </body>
{% endblock %}
