<div class="container mt-1 mb-3">

    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <div class="card">

                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex p-2 bd-highlight"><button type="button" class="btn btn-outline-c btn-sm"><a href='../' class="a-button">Назад</a></button> </div>
                </div>

                <h1><div class = "d-flex p-2 bd-highlight">{{posts.title}}</div></h1>
                <div class = "d-flex p-2 bd-highlight">{{posts.text}}</div>
{% if posts %}
			{% for post in posts %}
<ul class="list-group">
    <h3><li class="list-group-item"><a href={{post.id}}>{{post.title}}</a>
    </h3>
    </li>
    <div class="btn-group">
        <button type="button" class="btn btn-default js-like-post" style = "background: rgba(153, 204, 51); color: white;" data-url="{% url 'post_like' post.id %}" data-type="post" data-action="like"><span class="glyphicon glyphicon-thumbs-up"></span> <span data-count="like">{{ post.votes.likes.count }}</span></button>
        <button type="button" class="btn btn-default js-dislike-post" style = "background: rgba(240, 128, 128); color: white;" data-url="{% url 'post_dislike' post.id %}" data-type="post" data-action="dislike"><span class="glyphicon glyphicon-thumbs-down"></span> <span data-count="dislike">{{ post.votes.dislikes.count }}</span></button>
    </div>

    <span style="color:white">{{post.created_at}}
    <button type="button" class="btn btn-warning btn-sm js-update-post" data-url="{% url 'post_update' post.id %}">
        <span class="glyphicon glyphicon-pencil"></span> Изменить
    </button>
    </span> <br><br>
</ul>
    {% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">Нет новостей</td>
    </tr>
{% endfor %}
    {% endif %}
            </div>
        </div>
    </div>
</div>